body,
html {
    width: 100%;
    height: 100%;
    background-color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
}

p, a, li{font-family:'omnesRegular', Arial, Helvetica, sans-serif;}


@font-face {
    font-family: omnesMedium;
    src: url(../fonts/omnesMedium/omnesMedium.woff);
}

@font-face {
    font-family: omnesRegular;
    src: url(../fonts/omnesRegular/omnesRegular.woff);
}

@font-face {
    font-family: omnesSemiBold;
    src: url(../fonts/omnesSemiBold/omnesSemiBold.woff);
}
@font-face {
    font-family: omnesSemiBold;
    src: url(../fonts/omnesSemiBold/omnesSemiBold.woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family:sourceSans;
    src: url(../fonts/SourceSans/SourceSansPro-Regular.otf) format("opentype");
}

a{
color: white;
}


.lead {
    font-size: 1.3em;
    font-family: omnesRegular;
    line-height: 1.3em;
    font-weight: 100;
}

.white-background{
    background-color: white;
}

.grey-background{
    background-color: #f3f3f3;
}


.black-background{
    background-color: black;
}
.merah{
    color: #ED1C24;
}

.accordion-style{
    font-family: sourceSans;
}

.customhover > li > a:hover {
    background-color:black;
    background-image: url(../images/down_line.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.nav-pills > li.active > a {
    background-color:black;
    background-image: url(../images/down_line.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.nav-pills > li.active > a:hover {
    background-color:black;
}

.nav > li > a:focus, .nav > li > a:hover{
    color: white;
    background-color: black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: white;
    background-color: black;
}

.intro-header {
    padding-top: 5%; 
    padding-bottom: 5%;
    padding-right: 3%;
    text-align: left;
    color: #f8f8f8;
}

.two-background{
    height: 90%;
    width: 100%;
    background: url(../images/x_gradient.png), url(../images/web_bbt.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center,right bottom;
    background-size: cover, cover;
    /*width: 100%;
    min-height: 100%;
*/}

.intro-message {
    position: relative;
    padding-top: 10%;
}

.intro-button {
    position: relative;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > ul {
    list-style: none;
}

.intro-message > ul > li {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1.2em auto;
    background-position: -1% top;  
    font-size: 1.5em;
    font-family: omnesMedium;
    font-weight: 100;
    line-height:1.4em;
    padding-left: 1.5em;
    color: white;
}

.intro-button > p {
    font-family: omnesRegular;
    font-size: 2em;
    color: white;
}

.intro-button > p > span {
    font-family: omnesSemiBold;
    font-size: 50px;
    opacity: 0.99;
}

.intro-button > a > img {
    padding-top: 25px;
}
    
.header-container .header-row .iflix-logo {
    padding-top:3.95%;
}

.header-container .header-row .sun-logo {
    margin-bottom:5%;
}


#bottomFold ul li{
	display:table-cell;
	text-align:center;
/*
	width:250px;
	padding:20px
*/
}

#bottomFold .bottomFoldContainer{
	height:auto;
}

#bottomFold .divider{
	width:100px;
	height:1px;
	border-bottom:#808284 1px solid;
	margin:0.6em auto;
    padding: 5px;
}

#bottomFold h2{
    font-family: omnesMedium;
	font-size:1.3em;
    font-weight: 700;
    color: #808284;
}

#bottomFold p{
	font-size:1.0em;
    font-family: omnesRegular;
    font-weight: 100;
    padding-top: 1em;
    color: #808284;

}

.content-section-a {
    padding: 50px 0;
    text-align: center;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}

.seksyen > h2 {
    font-size: 32px;
}

.panel-group {
    background-color: white;
    width:100%
}

.panel-default>.panel-heading{
    background-color: #F3F3F3;
}

.panel-group > h4{
    color: red;
    text-align: center;
    font-family: omnesSemiBold;
}

.panel-group .panel-heading .panel-title{
    margin-top:-15px;
    margin-bottom: -15px;
    
}
    
.panel-group .panel-heading a {
  display: block;
  padding: 15px;
  padding-right: 20px;
  text-decoration: none;
  position: relative;
    font-size: 13px;
    font-family: sourceSans;
    
}
.panel-group .panel-heading a.collapsed {
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  color: red;
  position: absolute;
  right: 0px;
  top:10px;
  font-size:20px;
}
    
.panel-group .panel-heading a.collapsed:after {
  content: '+';
  color: red;
  position: absolute;
  right: 0px;
  top:10px;
  font-size:20px;
}
.panel-group .panel-collapse {
  margin-top: 5px !important;
}
.panel-group .panel-body {
  color: white;
  background: #58585B;
  padding: 15px;
  font-size:12px;
  font-weight:100;
  font-family: sourceSans;
}

.panel-group .panel-body-main {
  background: white;
  padding: 15px;
}
.panel-group .panel {
  background-color: transparent;
    border: 0px solid transparent;
}
.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
  margin-bottom: 0;
    font-family: sourceSans;
}

.panel-group .panel-body > ol > li{
    font-family: sourceSans;
}


.section-heading {
    margin-top:5px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-family: omnesSemiBold;
}

.mobilebanner{
    height: 100%;
    color: #f8f8f8;
    background: url(../images/montaj.jpg) no-repeat center center;
    background-size: cover;
    background-color: white;
    
}

.banner {
    
    height: 100%;
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../images/montaj.jpg) no-repeat center center;
    background-size: cover;
    background-color: white;
    
}


.centered-pills {  
    padding:5px;
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left;
    color: white;
    font-size:1.1em;
    font-weight: 900;
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

footer {
    padding: 0 0;
    background-color:#58585B;
    text-align: center;
    font-size: 10px;
}

.footer-menu-divider{
    color:white;
}

p.copyright {
    margin: 15px 0 0;
    font-size: 10px;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/*media queries*/

@media(max-width:1199px){
    
   .mobile-button > a > img{
        padding: 5% 30%;
    }
    
    .header-container .header-row .sun-logo {
    margin-bottom:0;
    }
    
    .intro-message > ul > li {
        font-size: 1.3em;
        font-weight: 100;
    }
    
    .seksyen > h2 {
        font-size: 24px;
    }
    
    .seksyen > p {
        font-size: 14px;
    }

}

@media(max-width:800px){
    
   .mobile-button > a > img{
        padding: 5% 30%;
    }
    
    .intro-message {
    position: relative;
    padding-top: 5%;
    }
    
    .intro-message > ul > li {
        font-size: 1em;
        font-weight: 100;
    }
    
    .intro-message > p {
        font-size: 1.5em;
        color: white;
        font-weight: 900;
        padding-left: 7%;
    }
    
    .intro-button > a > img {
        padding-top: 0%;
        padding-right:16%;
    }
    
    .seksyen > h2 {
        font-size: 24px;
    }
    
    .seksyen > p {
        font-size: 14px;
    }

}

@media(max-width:736px){
    .mobileheader{/*
        margin-top: -3%;
        margin-bottom: -3%;*/
    }

    .mobile-button > a > img{
        padding: 5% 20%;
    }
    
    .intro-message > ul > li {
        color: white;
        font-weight: 100;
    }
    
    .intro-message > p{
        font-family: omnesRegular;
        color: white;
        padding-left: 2em;   
    }

    .intro-message > p > span{
        font-family: omnesSemiBold;
        opacity: 0.99;
    }
    
    .intro-message > a > img {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    

    
    footer {
    font-size: 11px;
    padding: 0 0;
    background-color:dimgray;
    text-align: center;
    }
}

@media(max-width:450px){


    
    .mobile-button > a > img{
        padding: 9%;
    }
    
    .intro-message > ul > li {
    font-size: 1.0em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-family: omnesMedium;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    color: white;
    }
    
    .intro-message > p{
        font-size: 1.3em;
        padding-left: 2.1em;
        
    }

    .intro-message > p > span{
        font-family: omnesMedium;
        font-size:50px;
    }
    
    .intro-message .mobile-intro-message {
        font-size: 1.2em;
        color: white;
        font-weight: 900;
        padding-left: 2.4em;
    }

    .seksyen > h2 {
        font-size: 16px;
    }
    
    .seksyen > p {
        font-size: 14px;
    }
    

}


@media(max-width:400px) and (max-height:640px) {
    
    .mobile-button .arrowhref .arrowbutton{
        margin-top: -1%;
    }
    .mobile-button > a > img{
        padding: 15%;
        margin-top: -15%
    }
    .intro-message > ul > li {
    font-size: 1em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    color: white;
    }
}

@media(max-width:384px) and (max-height:640px) {
    
    .mobile-button .arrowhref .arrowbutton{
        margin-top: -1%;
    }
    .mobile-button > a > img{
        padding: 15%;
        margin-top: -15%
    }
    .intro-message > ul > li {
    font-size: 1em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    color: white;
    }
}

@media(max-width:320px) and (max-height:568px) {
    
    .mobile-button .arrowhref .arrowbutton{
        margin-top: -1%;
    }
    .mobile-button > a > img{
        padding: 15%;
        margin-top: -15%
    }
    .intro-message > ul > li {
    font-size: 0.8em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    }
}


@media(max-width:320px) and (max-height:533px) {
    
    .mobile-button .arrowhref .arrowbutton{
        margin-top: -14%;
    }
    .mobile-button > a > img{
        padding: 15%;
        margin-top: -15%
    }
    .intro-message > ul > li {
    font-size: 1em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    }
}


@media(max-width:320px) and (max-height:480px) {
    
    .mobile-button .arrowhref .arrowbutton{
        margin-top: -13%;
    }
    .mobile-button > a > img{
        padding: 15%;
        margin-top: -15%
    }
    
    .intro-message > ul > li {
    font-size: 0.8em;      
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-weight: 100;
    line-height:1em;
    padding-left: 30px;
    color: white;
    }
    
    .intro-message > p{
        font-size: 1.3em;
        padding-left: 2.1em;
        
    }

    .intro-message > p > span{
        font-family: omnesMedium;
        font-size:50px;
    }
    
    .intro-message .mobile-intro-message {
        font-size: 1.0em;
        color: white;
        font-weight: 900;
        padding-left: 2.4em;
    }

    .seksyen > h2 {
        font-size: 16px;
    }
    
    .seksyen > p {
        font-size: 14px;
    }
}

